/*Universal selector*/
* {
    margin: 0;
    padding: 0;
    /*without px*/
    box-sizing: border-box;
    /*same width, height, padding but not margin for elements (divs)*/
    scroll-behavior: smooth;
    /*ki tista3ml el js lil scrolling to anchors matjumpich instantly twali taaml smooth animation*/
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    /*fl <li> yab9ach y7ot fl points wila numbers*/
    text-decoration: none;
    /*decoration applied to font kima e dash,line through, ...*/
}

header {
    position: fixed;
    /*always stays fixed and its postion is relative to the window or viewport*/
    width: 100%;
    right: 0;
    z-index: 1000;
    /*stack in flutter the higher the value the the higher the priority*/
    display: flex;
    /*by default flex-direction is row(Horizontaly), dynamically adjust their sizes within a container*/
    align-items: center;
    /*aligns the items to the cross-axis(x-axis) in this case top center*/
    justify-content: space-between;
    /*Kima fl flutter main axis-alignment(y-axis)*/
    padding: 20px 10%;
}