/*Universal selector*/
* {
    margin: 0;
    padding: 0;
    /*without px*/
    box-sizing: border-box;
    /*same width, height, padding but not margin for elements (divs)*/
    scroll-behavior: smooth;
    /*ki tista3ml el js lil scrolling to anchors matjumpich instantly twali taaml smooth animation*/
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    /*fl <li> yab9ach y7ot fl points wila numbers*/
    text-decoration: none;
    /*decoration applied to font kima e dash,line through, ...*/
}

header {
    position: fixed;
    width: 100%;
    right: 0;
    z-index: 1000;
    display: flex;
}